.form-control {
    display: flexbox;
    width: 100%;
    text-align: left;
    justify-content: space-around;
}

.inputTextField {
    margin: 5px auto !important;
    width: 100%;
    justify-content: space-around;
}