.button {
    /* width: 50% !important;
    height: 100%;
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin: 5px !important;
    text-decoration: none !important;
    font-weight: unset !important; */
    width: 50% !important;
    margin: 5px !important;
}