.loginForm {
  height: 100%;
  /* overflow: hidden !important; */
  background-image: url("../../assets/job-search.svg");
  background-size: 60vw 60vh;
  background-position: left;
  background-repeat: no-repeat;
  background-color: #c7eafa;
}

.btnLayout {
  width: 60%;
  height: 100%;
  float: right;
  justify-content: center;
  display: flex;
  /* You can change this to `row` if you want the items side by side instead of stacked */
  flex-direction: column;
}

.appTitle {
  margin-bottom: 80px;
  font-size: 10vw;
  font-family: Georgia, serif;
  text-shadow: 1px 1px 2px #0d47a1, 0 0 1em #0d47a1, 0 0 0.2em #0d47a1;
  color: white;
}

@media only screen and (max-width: 600px) {
  .loginForm {
    background-size: 100vw 60vh;
    background-position: top;
  }

  .btnLayout {
    width: 100%;
    position: relative;
    bottom: 0;
  }

  .appTitle {
    margin-top: 50%;
    margin-bottom: 10%;
    font-size: 15vw;
  }
}
